
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      console.log('Javascript running')
      info = {game_id: '{{game.game_id}}',
              username: '{{current_user.username}}'};

      var socket = io();
      socket.on('connect', function () {
        console.log('connected with server')
        socket.emit('add to database', info);
      });

      socket.on('disconnect', info);

      $("#debug").click(function(){
        socket.emit('debug', info);
      });

      socket.on('update gameboard', function(data) {
        drawBoard(data)
      });

      socket.on('bid', function(){
        console.log('received bid request');
        let userBid = prompt("Enter your bid (0,1,2,3)");
        socket.emit('submit bid', {info, bid: userBid});
        console.log('submitted bid', userBid);
      });

      socket.on('make move', function(){
        console.log('received move request');
        let userMove = prompt("Enter your move separated by commas (no discards)");
        let userDiscard = prompt("Enter your discards");
        socket.emit('submit move', {info, move: userMove, discard: userDiscard});
      });

      socket.on('flash', function(message){
        console.log('flashing', message);
        $("#flash").text(message).css('color', 'red');
      });

      function drawBoard(data){
        console.log('received data to display', data);

        $("#gameboard").empty();
        $("#gameboard").append('<h2>Users currently in lobby:</h2>', 
        '<ul></ul>'); 
        $.each(data['usernames'], function(i){
          $("#gameboard").append($("<li></li>").text(data['usernames'][i]));
        });

        console.log(data['hand'].join());

        $("#gameboard").append('<h2>Your Hand</h2>', 
        $("<p></p>").text(data['hand'].join()))

        $("#gameboard").append('<h2>Current Round</h2>', 
        $("<p></p>").text("Round Type", data['hand_type']),
        $("<p></p>").text("Round History", data['hand_history']))
      }
  });
  
  </script>
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create Game{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h1>Game ID: {{ game.game_id }} </h1>
  <h2 id="flash"></h2>
  <input id="debug" type="submit" name="start_game" value="Start Game">

  <div id="gameboard"></div>

{% endblock %}
