.animated-grid {
    height: 85vh;
    margin-bottom: 200px;
  
    display: grid;
    gap: .2rem;
  
    /* Explicit grid */
    grid-template-areas:
      'gameid title scoreboard'
      'player1 playing-area  player2'
      'history  current-player chat';
  
    grid-template-rows: 10% 50% 40%;
    grid-template-columns: 400px auto 400px;
  }

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #07ca18;
    /* font-size: 1em; */
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
.gameid {
  grid-area: gameid

}
  
.title {
  grid-area: title;
}

.scoreboard {
  grid-area: scoreboard;
}

.scoreboard h3 {
  margin: 0 0 0 0;
}

.scoreboard ol {
  margin: 0 0 0 0;
}

.scoreboard li {
  margin: 0 0 0 0;
  font-size: small;
}

.gameid h3 {
  margin: 0 0 0 10px;
}

.player1 {
  justify-content: start;
  grid-area: player1;
}

.player1 h3{
  margin: 25 0 100 0px;
}

.playing-area {
  grid-area: playing-area;
}

.player2 {
  justify-content: start;
  grid-area: player2;
}

.player2 h3{
  margin: 25 0 100 0px;
}

.history {
  grid-area: history;
}
.current-player {
  grid-area: current-player;
  background: #817777;
}

.chat {
  grid-area: chat;
  justify-content: normal;
  align-items: left;
}

.messages {
  height: 80%;
  width: 90%;
  overflow: auto;
}

.playing-card {
  /* padding: 10px; */
  width: 50px;
}

.my-playing-card {
  margin: 0px 0px 10px 10px;
  width: 50px;
}

#container {
  width: 640px; /* Can be in percentage also. */
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.left {
  float: left;
  margin-right: auto;
}

.right {
  float: right;
  margin-left: auto;
}

.bottom {
  float: bottom;
  margin-top: auto;
}

.waiting-room h3 {
  margin: 20px;
}